<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="eStoreAdminTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <eStoreAdminTests.Properties.Settings>
            <setting name="EmailResponseSalutation" serializeAs="String">
                <value>Hi </value>
            </setting>
            <setting name="EmailResponseOpening" serializeAs="String">
                <value>Thank you for your email.

</value>
            </setting>
            <setting name="EmailResponseClosing" serializeAs="String">
                <value>Regards,

</value>
            </setting>
            <setting name="TradingName" serializeAs="String">
                <value>PetsPlayground</value>
            </setting>
            <setting name="AdminEmail" serializeAs="String">
                <value>andrew.paul.gray@gmail.com</value>
            </setting>
        </eStoreAdminTests.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
