<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SeleniumTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SeleniumTests.Properties.Settings>
            <setting name="Selenium2Browser" serializeAs="String">
                <value>firefox</value>
            </setting>
            <setting name="ApplicationTestEnvironment" serializeAs="String">
                <value>http://www.mywipstoreadmin.com.au</value>
            </setting>
            <setting name="ManagerUserName" serializeAs="String">
                <value>user1</value>
            </setting>
            <setting name="AdministratorUserName" serializeAs="String">
                <value>user2</value>
            </setting>
            <setting name="StaffUserName" serializeAs="String">
                <value>user3</value>
            </setting>
            <setting name="ManagerPassword" serializeAs="String">
                <value>bond00&amp;</value>
            </setting>
            <setting name="AdministratorPassword" serializeAs="String">
                <value>bond00&amp;</value>
            </setting>
            <setting name="StaffPassword" serializeAs="String">
                <value>bond00&amp;</value>
            </setting>
            <setting name="UnlockerUserName" serializeAs="String">
                <value>AnotherUser</value>
            </setting>
            <setting name="UnlockerPassword" serializeAs="String">
                <value>bond00&amp;</value>
            </setting>
            <setting name="ApplicationLoginPage" serializeAs="String">
                <value>/Authentication/Login.aspx</value>
            </setting>
            <setting name="ChromeEXELocation" serializeAs="String">
                <value>D:\SeleniumDrivers</value>
            </setting>
        </SeleniumTests.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
