<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="eStoreAdminWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="ApplicationConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer"  requirePermission="false"  />
  </configSections>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="CKEditor:BasePath" value="~/js/ckeditor" />
  </appSettings>
  <resizer>
    <plugins>
      <add name="DefaultSettings" />
      <!-- <add name="DiskCache" /> -->
      <!-- <add name="PrettyGifs" /> -->
    </plugins>
    <defaultsettings explicitSizeScaleMode="Both" />
  </resizer>

  <nlog autoReload="true" throwExceptions="true" internalLogLevel="Trace" internalLogFile="${logDirectory}/NLogInternal.log" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="./logs" />
    <targets>
      <!--  NLog uses the concept of targets to indicate where log messages are written to.
						Targets can be files, the console, databases, SMTP and much more. This example
						defines a couple of different targets
			-->
      <target name="common-file" xsi:type="File" layout="${longdate} ${aspnet-sessionid} ${threadid} ${machinename} ${level} ${message}" fileName="${logDirectory}/estoreadmin.out.${shortdate}.log" />
      <target name="data-access-file" xsi:type="File" layout="${longdate} ${aspnet-sessionid} ${threadid} ${machinename} ${level} ${message}" fileName="${logDirectory}/log-data-access.${shortdate}.log" />
      <target name="error-file" xsi:type="File" layout="${longdate} ${aspnet-sessionid} ${threadid} ${machinename} ${level} ${message}" fileName="${logDirectory}/estoreadmin.err.${shortdate}.log" />
      <!--Must have machineName setting or it won't work. Setting it to "." is local machine-->
      <target name="eventlog" xsi:type="EventLog" layout="Timestamp:${longdate}${newline}Session ID:${aspnet-sessionid}${newline}Thread ID:${threadid}${newline}Machine Name:${machinename}${newline}Level:${level}${newline}Message:${message}${newline}CallSite:${callsite}" machineName="." log="Application" />
      <target name="auditlog" xsi:type="Database" dbProvider="sqlserver" commandText="exec uspAuditEventAdd @StoreName, @TypeID, @NewValue, @OldValue, @ErrorMessage, @UserID, @CreatedDate, @Details" dbHost="PHEONIX\PHEONIX" dbDatabase="eStore" dbUserName="eStoreAdminUser" dbPassword="bond007">
        <parameter name="@StoreName" layout="${event-context:item=StoreName}" />
        <parameter name="@TypeID" layout="${event-context:item=TypeID}" />
        <parameter name="@NewValue" layout="${event-context:item=NewValue}" />
        <parameter name="@OldValue" layout="${event-context:item=OldValue}" />
        <parameter name="@ErrorMessage" layout="${event-context:item=ErrorMessage}" />
        <parameter name="@UserID" layout="${event-context:item=UserID}" />
        <parameter name="@CreatedDate" layout="${event-context:item=CreatedDate}" />
        <parameter name="@Details" layout="${event-context:item=Details}" />
      </target>
    </targets>
    <rules>
      <!-- only log WARN level messages or higher for loggers with the given name (or child loggers
						 in the hierachy. Note the use of the 'final' attribute, if this is not present, NLog will continue
						 to match logger names, resulting in our DataAccess messages appearing in the log-common.txt
						 logfile also.
						 NOTE: rules are evaluated in order, hence the more specific rules (with the more specific logger names)
						 should appear at the start of this rule declaration.
				-->
      <logger name="TraceLogger" minlevel="Trace" final="true" writeTo="common-file" />
      <logger name="DataAccess.*" minlevel="Trace" final="true" writeTo="data-access-file" />
      <logger name="TraceFileAndEventLogger" minlevel="Trace" final="true" writeTo="common-file,eventlog" />
      <logger name="ErrorLogger" minlevel="Error" final="true" writeTo="error-file,eventlog" />
      <logger name="AuditLogger" minlevel="Trace" final="true" writeTo="auditlog" />
      <!--  the logger element is used to identify a set of loggers which are used within the 
							application code. Within these elements it is possible to identify the target
							that writes messages sent to this logger, and specify a filter on the log level.
				-->
      <logger name="*" writeTo="common-file" />
    </rules>
  </nlog>
  <location path="Error.aspx">
    <system.web>
      <trust level="Full" />
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  
  <connectionStrings>
    <add name="AspNetServicesSqlServer" connectionString="Data Source=PHEONIX\PHEONIX;DataBase=AspNetServicesDB;Uid=AspNetServicesUser;Pwd=bond007" />
    <add name="eStoreAdminConnectionString" connectionString="Data Source=PHEONIX\PHEONIX;Initial Catalog=eStore;User ID=eStoreAdminUser;Password=bond007;MultipleActiveResultSets=True" />
    <add name="eStoreConnectionString" connectionString="Data Source=PHEONIX\PHEONIX;Initial Catalog=eStore;User ID=eStoreAdminUser;Password=bond007" providerName="System.Data.SqlClient" />
    <add name="eStoreEntities" connectionString="metadata=res://*/eStoreAdminModel.csdl|res://*/eStoreAdminModel.ssdl|res://*/eStoreAdminModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PHEONIX\PHEONIX;Initial Catalog=eStore;User ID=eStoreAdminUser;Password=bond007;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<system.net>
		<mailSettings>
			<smtp from="phoenixconsulting@gmail.com.au">
				<network host="smtp.gmail.com" 
								 password="serenity" 
								 port="587"
								 userName="phoenixconsulting@gmail.com"/>
			</smtp>
		</mailSettings>
	</system.net>-->
  <system.web>
    <!-- 
					Set compilation debug="true" to insert debugging 
					symbols into the compiled page. Because this 
					affects performance, set this value to true only 
					during development.
			-->
    <membership defaultProvider="MyAspNetMembershipProvider" userIsOnlineTimeWindow="20">
      <providers>
        <clear />
        <!--passwordFormat="Hashed"-->
        <add connectionStringName="AspNetServicesSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" name="MyAspNetMembershipProvider" type="System.Web.Security.SqlMembershipProvider, &#xA;                    System.Web, Version=2.0.0.0, Culture=neutral, &#xA;                    PublicKeyToken=b03f5f7f11d50a3a" />
        <add name="DTMembershipProvider" type="com.phoenixconsulting.AspNet.Membership.DTMembershipProvider" connectionStringName="eStoreAdminConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" applicationName="eStore" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" passwordAttemptWindow="10" />
      </providers>
    </membership>
    <profile>
      <providers>
        <add name="MyAspNetProfileProvider" connectionStringName="AspNetServicesSqlServer" applicationName="/" type="System.Web.Profile.SqlProfileProvider, &#xA;                   System.Web, Version=2.0.0.0, Culture=neutral, &#xA;                   PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="MyAspNetRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="AspNetServicesSqlServer" applicationName="/" name="MyAspNetRoleProvider" type="System.Web.Security.SqlRoleProvider, &#xA;                    System.Web, Version=2.0.0.0, Culture=neutral, &#xA;                    PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <httpRuntime executionTimeout="180" />
    <!--
						The <authentication> section enables configuration 
						of the security authentication mode used by 
						ASP.NET to identify an incoming user. 
				-->
    <authentication mode="Forms">
      <!--defaultUrl="~\Web\Merchandise\ManageDepartments.aspx"-->
      <forms name="eStoreAdminAuth" timeout="30" loginUrl="~\Authentication\Login.aspx" slidingExpiration="false" />
    </authentication>
    <!--<authorization>
				<deny users="?"/>
			</authorization>-->
    <!--
							The <customErrors> section enables configuration 
							of what to do if/when an unhandled error occurs 
							during the execution of a request. Specifically, 
							it enables developers to configure html error pages 
							to be displayed in place of a error stack trace.
			-->
    <customErrors mode="Off" defaultRedirect="Error.aspx">
      <error statusCode="404" redirect="PageNotFound.aspx" />
    </customErrors>
    <pages styleSheetTheme="Classic" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.IO" />
        <add namespace="System.Text" />
      </namespaces>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>
    <!--<machineKey 
				validationKey="C32B630F2B672E67C9CD4C1CA860B3BA59BCC85FE42D664FA16818C3D80E7C5D6B722BAB96177A1672B06AD107C084F0D759725DE4FE1ED1F2FE1A85FC274065"
				decryptionKey="09EE5F104D9FD9B15A876E65C0421E27D1122A147B15F25C" 
				validation="SHA1" />-->
    <machineKey decryption="AES" validation="SHA1" decryptionKey="0DC0A15FF925718E5A9FDEB9B12284CFE319C5234D439F9DDBD266EF1771028D" validationKey="25EB644630E6C38B4A12A3485DC8B28E915E02F1C3BA9C840A1392CC4064919A" />
    <caching>
      <sqlCacheDependency enabled="true" pollTime="60000">
        <databases>
          <add name="eStore" connectionStringName="eStoreConnectionString" pollTime="60000"/>
        </databases>
      </sqlCacheDependency>
    </caching>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- 
				The system.webServer section is required for running ASP.NET AJAX under Internet
				Information Services 7.0.  It is not necessary for previous version of IIS.
		-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
    </handlers>
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
  </system.webServer>
  <applicationSettings>
    <eStoreAdminWeb.Properties.Settings>
      <setting name="AustraliaCountryID" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="connString" serializeAs="String">
        <value>Data Source=PHEONIX\PHEONIX;Initial Catalog=eStore;User ID=sa;Password=bond007</value>
      </setting>
      <setting name="HomeCountry" serializeAs="String">
        <value>Australia</value>
      </setting>
      <setting name="CatalogueImagesDir" serializeAs="String">
        <value>~/CatalogueImages/</value>
      </setting>
    </eStoreAdminWeb.Properties.Settings>
  </applicationSettings>
</configuration>